{% extends 'base.html.twig' %}


{% block profil %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Robin31850
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Historique</a>
            <a class="dropdown-item" href="#">Paramètres</a>
            <a class="dropdown-item" href="#">Déconnexion</a>
        </div>
    </li>
{% endblock %}
