@import "~bootstrap/scss/bootstrap";

.navbar-brand {
  > .active {
    width: 1.5em;
    color: $white;
  }
  > .inactive {
    width: 1.5em;
    color: $gray-500;
  }

}

body {
  background-color: $gray-500;
  overflow-y : scroll
}

p {
  text-align: justify;
}

.container {
  background-color: white;
}


path {
  fill: currentColor;
}

